body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}

.flex-item {
    margin-left: 15px;
    margin-right: 15px;
}

a:link {
    text-decoration: none;
    color: #1e31bf;
}

a:visited {
    text-decoration: none;
    color: #1e31bf;
}

a:hover {
    text-decoration: none;
    color: #1e81bf;
}

.footer-row {
    margin-top: 35px;
    font-style: italic;
    font-size: small;
    text-align: right;
}
